

body {
  background-color: lightsteelblue;
  margin: 50px;
  padding: 15px;
  text-align: center;
}

ul {
  list-style-type: circle;
  display: inline-block;
  text-align:justify;
  margin-left: auto;
  margin-right: auto;
}

.student {
  border-top-style: dotted;
  border-bottom-style: dotted;
  margin-top: 260px;
}