MONGO_URI=mongodb+srv://username:password@cluster0.xxx.mongodb.net/term-project
SESSION_SECRET=your_random_secret_here
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
OPENWEATHER_API_KEY=your_openweathermap_api_key_here