body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


/* Style for the instruction pop-up modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
    
/* Style for the pop-up content box */
.modal-content {
  background-color: #222;
  margin: 5% auto;
  padding: 30px;
  border: 5px solid #fff;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
}
    
/* Style for the close button */
.close-btn {
  color: #fff;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
    
.close-btn:hover {
  color: #ff6b6b;
}
    
/* Style for the "Got It" button */
.got-it-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}
    
.got-it-btn:hover {
  background-color: #45a049;
}