* {
  box-sizing: border-box;
  padding: 2;
  margin: 2;
}

body {
  font-family: Helvetica;
  background: lightslategray;
}

h1 {
  font-size: 40px;
  color: antiquewhite;  
  text-align: center;
  margin: 10px;
}

.card {
  background-color: antiquewhite;
  width: auto;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  text-align:justify;
  flex-direction: row;
  box-shadow: 5px 5px 15px gray;
}

.card a {
  background-color:slategray;
  color: mistyrose;
  padding: 10px 15px;
  display: block;
  text-align: center;
  margin: 15px 40px;
  text-decoration: none;
}

.card h3 {
  padding: 10px;
  text-align: left;
}
.card p {
  padding: 15px;
}

.card ul {
  padding: 30px;
}

.card:hover {
  background-color: rosybrown;
  color: mistyrose;
  cursor: pointer;
  transform: scale(1.04);
  transition: all 0.8s ease;
}

.contact {
  border-top-style: dotted;
  border-bottom-style: dotted;
  margin-top: 20px;
}
