* {
  box-sizing: border-box;
  padding: 2;
  margin: 2;
}

body {
  font-family: Helvetica;
  background: lightslategray;
}

h1 {
  font-size: 40px;
  color: antiquewhite;  
  text-align: center;
  margin: 10px;
}

h3 {
  padding: 10px;
  text-align: left;
}

p {
  padding: 10px;
}

.card {
  background-color: antiquewhite;
  width: auto;
  height: auto;
  margin: 40px;
  border-radius: 10px;
  text-align:justify;
  flex-direction: row;
}

.card a {
  background-color:slategray;
  color: mistyrose;
  padding: 15px 15px;
  display: block;
  text-align: center;
  margin: 10px 10px;
  text-decoration: none;
}

.card ul {
  padding: 20px;
}

.card:hover {
  background-color: rosybrown;
  color: mistyrose;
  cursor: pointer;
  transform: scale(1.04);
  transition: all 0.8s ease;
}

.hw {
  background-color: rosybrown;
  color: mistyrose;
  width: auto;
  height: auto;
  margin: 40px;
  border-radius: 10px;
  text-align:justify;
  flex-direction: row;
}

.hw a {
  padding: 15px 15px;
  display: block;
  text-align: center;
  margin: 10px 10px;
  text-decoration: none;
}

.hw:hover {
  background-color: antiquewhite;
  color: slategray;
  cursor: pointer;
  transform: scale(1.04);
  transition: all 0.8s ease;
}

.contact a {
  border-top-style: dotted;
  border-bottom-style: dotted;
}

.student {
  border-top-style: dotted;
  border-bottom-style: dotted;
  margin-top: 260px;
}